/* Imported fonts */

/* CSS Reset */

/* Mobile first & RWD styles */

/* Document's style */

	* {
		border: 1px dotted red;
		box-sizing: border-box;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 2.5vw;
		margin: 0;
		padding: 0;
	}

	body {
		background-color: rgba(0, 0, 0, 0.6);
	}

	.background {
		background-image: url("../media/sunset-background.jpg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: relative; /* The purpose of this positioned element is to be the conatiner box fo the nested positioned img elements. */
	}

	.foreground  {
		background-image: url("../media/sunset-foreground.jpg");
		background-size: 100% auto;
		background-repeat: no-repeat;
		height: auto;
		width: 100%;
		opacity: 0.65;
		position: absolute;
		top: -3.462603878116%;
		/* left: 29.296875%; */
		/* width: 70.703125%; */
		overflow: hidden;
	}

	.slogan {
		position: absolute;
		top: 10%;
		left: 10%;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		z-index: 1;
	}

	.progress {
		color: rgba(253, 250, 142, 1);
		font-size: 1.5em;
		letter-spacing: 0.5em;
	}

	.nox {
		color: rgba(234, 167, 108, 1);
		font-size: 3.5em;
	}

	.card {
		position: absolute;
		right: 0;
		top: 65%;
		width: 29.296875%;
	}

	.pro {
		padding: 5% 0;
		background-color: rgba(256, 256, 256, 0.1);
		text-align: center;
		text-transform: uppercase;
	}

	.name {
		color: rgba(233, 212, 107, 1);
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 0.15em;
	}

	.title {
		color: rgba(254, 252, 199, 1);
		letter-spacing: 0.8em;
	}

	.contact {
		padding: 5% 0 5% 10%;
	}

	.contact img {
		height: 1.2em;
		vertical-align: top;
	}

	.contact a {
		text-decoration: none;
		margin: 8px 0; /* Additional space for touch screens */
	}

	.github {
		color: white;
	}

	.linkedin {
		color: rgba(55, 124, 180, 1);
	}

	.gmail {
		color: rgba(205, 57, 57, 1);
	}

	.intro {
		background-color: rgba(0, 0, 0, 0.6);
		background-clip: border-box;
		color: rgba(254, 252, 199, 1);
		position: absolute;
		top: 100vh;
		padding: 15% 25%;
		text-align: justify;
	}

	h2 {
		font-weight: bold;
		font-size: 1.5rem;
		padding-bottom: 2rem;
	}

	p {
		padding-bottom: 1rem;
	}
